@import '../style/variables.scss';
// .strip (padre di .card in TheMain) ha altezza fissa

.card {
  min-height: 100%;
  padding: 0;

  .poster {
    min-height: 100%;
  }

  .info {
    display: none;
    min-height: 100%;

    span {
      font-weight: bold;
    }

    span.flag {
      display: inline-block;
      height: 1rem;
      width: 1.33333333rem;
    }
  }

  // quando in hover sulla card passa da .poster a .info
  &:hover .poster {
    display: none;
  }
  &:hover .info {
    display: block;
  }
}